<!-- Requests are made up of two parts: 
VERB: GET, POST, PUT, PATCH, DELETE
NOUN: /films, films/:id

GET /films => Get me all the films
POST /films => Create a new film

GET request
Appends the parameters to the query string of the URL

query string => /film?title=Inception&country=USA

POST request
attaches the parameters to the body of the request

body of request =>
title=Inception&country=USA
-->

<form id="film-form" action="/films" class="form" methods="post">
</form>

<methods="post">
	<h1>Create a new film</h1>

	<input type="text" id="film-title">

	<textarea name="description"