<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/style.css">
	<script type="text/javascript"></script>
</head>

<body>
	<main>
		<header style="background-color: #0A2A12">
			<h1>Shisha and Code!</h1>
		</header>
		
		<%= yield %>

		<nav id="site-nav">

		</nav>
		<aside id="sidebar">
			
		</aside>
		
		<section id="content">
		</section>

		<footer>
			<nav>
			
			</nav>
		</footer>
	</main>

	
</body>
</html>